h2 {
	font-size: 60px;
	text-align: center;
}
h3 {
	font-size: 30px;
	text-align: center;
}
p { 
	padding: 0 80px 80px 80px;
	font-size: 25px;
	line-height: 1.5;
	letter-spacing: 1px;
}
#img1 {
	width: 400px;
	height: 600px;
	display: block;
  	margin: 0 auto;
}
#img2 {
	width: 1000px;
	height: 600px;
	display: block;
  	margin: 0 auto;
}
#img3 {
	width: 400px;
	height: 600px;
	display: block;
  	margin: 0 auto;
}
#img4 {
	width: 400px;
	height: 600px;
	display: block;
  	margin: 0 auto;
}
#img5 {
	width: 400px;
	height: 600px;
	display: block;
  	margin: 0 auto;
}
html {
	background-color : #c0d6fa
}